* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("image_search_1734612583693.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.main-box {
    max-width: 600px;
    padding: 20px;
    background-color: rgb(22, 210, 194);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 3px 5px rgb(1, 1, 1, 0.4);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px; 
    background: linear-gradient(90deg, #330eec, #d00df2);
    border-radius: 10px; 
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, select {
    padding: 6px 10px;
    border: 2px solid #4f0bee;
    border-radius: 4px;
    font-size: 15px;
}

input, select:focus{
    outline-color: red;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 20px;
}

button {
    background-color: red;
    border: red solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.2s ease-in;
}
button:hover {
    background-color: transparent;
    color: rgb(235, 11, 11);
    cursor: pointer;
}

.result-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #19e7b3;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.result-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

.result-container p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
}


